{{#each this}}
  {{#each creations}}

    <div>
      <div class="btn-group" role="group" aria-label="...">
        <button data-id="{{this.id}}" type="button" class="btn btn-primary change-creation-title">Edit Title</button>
        <button data-id="{{this.id}}" type="button" class="btn btn-danger delete-creation">Delete</button>
      </div>
      <h2 class="creation-title">{{this.title}}</h2>
      <img src="{{this.picture}}"/>
      <h2 class="creation-artist">{{this.artist_name}}</h2>
      <p class="creation-description">{{this.description}}</p>
    </div>

  {{/each}}
{{/each}}
